/* Estilos para componentes */

/* Resaltado de filtro */
.highlight { 
    outline: 3px dashed #0a66c2; 
    background: #f0f7ff; 
}

/* Mapa embebido */
.mapa { 
    border:1px solid #000; 
    padding:10px; 
}

.mapa iframe { 
    width:100%; 
    height:300px; 
    border:0; 
    display:block; 
}
